{
  "ignorePatterns": ["node_modules/", "dist/"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "extends": ["eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "camelcase": "error",
  },
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
  },
  "globals": {
    "gopeed": true,
    "MessageError": true,
    "process": true,
    "Promise": true,
  },
}